// Controls for Neat Visual Grid (remove before production)
$visual-grid: false;
$visual-grid-color: #ff0000;
$visual-grid-opacity: 0.025;

// Bootstrap -- base
@import 'sass-bootstrap/lib/variables';
@import 'sass-bootstrap/lib/mixins';

// Bootstrap
@import 'sass-bootstrap/lib/dropdowns';
