#editor-ctn {
}
#editor-canvas-wrapper {
  position: relative
}

#editor-menu {
  float: left;
  display: block;
  margin-right: 0.6993%;
  background: #333333;
  border: 1px solid #e1e1e1;
  color: #404040;
  border-radius: 2px;
  line-height: 36px;
  position: relative;
  width: 100%;
}

#editor-canvas-wrapper{
  height: 100%;
}

#editor-toolbar{
  float: left;
  display: block;
  margin-right: 0.6993%;
  background: #333333;
  border: 1px solid #e1e1e1;
  color: #404040;
  border-radius: 2px;
  line-height: 36px;
  position: relative;
  width: 100%;
}
