<div class='canvas.container'>
  <div id='editor-toolbar' class='toolbar-wrapper' ng-controller='CanvasToolbarCtrl as canvasToolBarCtrl'>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class='container-fluid'>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div v-widget-menu></div>
          <ul class="nav navbar-nav">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Demo<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a ng-click='canvasToolBarCtrl.loadCircle()' href="#">Panning/Zooming</a></li>
              <li><a ng-click='canvasToolBarCtrl.loadVoltron()' href="#">Voltron</a></li>
            </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">File<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">New</a></li>
              <li><a href="#">Save</a></li>
            </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right" role="options">
            <button ng-click="canvasToolBarCtrl.toggleLock()" class="btn btn-default btn-xs navbar-btn" ng-bind="canvasToolBarCtrl.locked ? 'Unlock':'Lock'"></button>
            <button ng-click="canvasToolBarCtrl.resetGrid()" class="btn btn-default btn-xs navbar-btn">Reset</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
  <div id='editor-canvas' class='editor-canvas-wrapper' ng-controller='CanvasCtrl as canvasCanvasCtrl'>
    <div v-context-menu v-canvas-grid v-droppable></div>
  </div>
</div>
